    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br/><br/>
              <h2>About frontforumfocus</h2>
              <br/>
                <p>FrontForumFocus is a platform where individuals, organizations, and governments can come together to solve problems related to sustainable development goals.</p>
                <p>Our community-driven approach connects you with experts and organizations who can help you find solutions and grow your career.</p>
                <p> Join us and make a difference today!</p>
                 <br />

                <p>Finding solutions to sustainable development goals can be challenging for<br /> individuals and organizations alike</p>
                <br/>
                <p>Frontforumfocus is a platform that connects individuals, organizations, and governments working towards <br /> sustainable development goals to a community of experts and resources.</p>
              </div>
        </div>
    </section>
    